@font-face {
  font-family: openSans;
  src: url(./eats/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: openSans;
  list-style: none;

}
body{
  background-color:  #E5E5E5;
}
.app{
  max-width: 1800px;
  margin:auto;
  display: block;
}
.main{
  display: flex;
  padding: 20px;
}

.navlink{
  width: 20%;
  padding: 0 20px;
}
.navlink>a{
  display: flex;
  font-size: 14px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #aaaaaa;
  align-items: center;
}
.navlink >a>img{
  margin-right: 5px;
}
.navlink p{
  font-size: 12px;
  margin:  5px 0;
}
.navlink ul li a{
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
#icon {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  color: white;
  background-color: #4FD1C5;
  margin-right: 10px;
}
.navlink .card{
  border-radius: 15px;
  background-color: #4FD1C5;
  padding: 15px;
  color: white;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  margin-top: 50px;
}
#icon_sorov{
  background-color: white;
  padding: 5px;
  border-radius: 12px;
  font-size: 40px;
  color: #4FD1C5;
}
.card h2{
  font-size: 14px;
  margin-top: 20px;
}
.card:hover{
  background-color:#008376;
}
.card p{
  font-size: 12px;
  margin: 5px 0;
}
.card button{
  width: 100%;
  border: none;
  overflow: none;
  font-size: 10px;
  text-align: center;
  padding: 10px 0;
  border-radius: 12px;
  color: #2D3748;
  font-weight: bold;
}
.pages{
  width: 80%;
}
.navlink ul li a.active{
  background-color: white;
}

.header{
  display: flex;
  justify-content: space-between;
}
.signUp{
  display:grid;
  grid-template-columns: repeat(5, auto);
  gap: 15px;
  align-items: center;
  color: #718096;
  font-size: 20px;
}
.signUp .search{
  padding: 10px;
  border-radius: 15px;
  background-color: white;
  display: flex;
  align-items: center;
}
.signUp .search input{
  border: none;
  outline: none;
  margin-left: 6px;
  font-size: 14px;
}
.headerName p{
  font-size: 12px;
}
.headerName p span{
  opacity: 0.67;
}
.header h2{
  font-size: 14px;
}
.inforUsers{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 15px;
}
.inforUser_boxer{
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
}

.inforUser_boxer:hover{
  background-color: rgb(197, 197, 197);
}
.inforUser_boxer .icon1{
  font-size: 40px;
  padding: 5px;
  border-radius: 12px;
  color: white;
  background-color: #4FD1C5;
}

.userBoxer_text span{
  font-size: 12px;
  color: #A0AEC0;
}
.userBoxer_text p{
  font-weight: bold;
}
.userBoxer_text p>span{
  color: #48BB78;
}
.developers{
  display: flex;
  margin: 15px 0;
  width: 100%;
}
.build_developer{
  width: 60%;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  margin-right: 1.5%;
}
.build_developer .build_left{
  width: 60%;
}
.build_left p{
  color: #A0AEC0;
  width: 90%;
  font-size: 12px;
}
.build_left h2{
  font-size: 18px;
  margin: 10px 0;
}
.build_left button{
  border: none;
  outline: none;
  background-color: white;
  margin-top: 100px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.build_left button:hover{
  color: #A0AEC0;
}
.build_developer .build_right{
  width: 40%;
  background-color: #3BCBBE;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.build_right .electr{
  background-color: white;
  padding: 5px;
  color: #3BCBBE;
  font-size: 35px;
  transform: rotate(30deg);
  border-radius: 50%;
  margin-right: 10px;
}
.developer_father{
  padding: 10px;
  background-color: white;
  width: 40%;
  border-radius: 15px;
  overflow: hidden;
}
.developer_img{
  height: 100%;
  background-image: url(./eats/img/developer.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.developer_img .opcity{
  background:linear-gradient(to top, #31386049,  #15192896);
  color: white;
  border-radius: 15px;
  padding: 15px;
  height: 100%;  

}
.developer_img .opcity:hover{
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background:linear-gradient(to top, #3138608c,  #151928ad);
}

.opcity h2{
  font-size: 18px;
  margin-bottom:10px;
}
.opcity p{
  font-size: 12px;
  width: 95%;
}

.opcity button{
  border: none;
  outline: none;
  background-color: rgba(245, 222, 179, 0);
  color: white;
  margin-top: 120px;
  background: linear-gradient();
}

.opcity button:hover{
  color: silver;
  cursor: pointer;
}

.user_statis{
  display: flex;
}
.active_users{
  width: 44%;
  background-color: white;
  padding: 10px;
  margin-right: 2%;
  border-radius: 15px;
}
.active_users h2{
  font-size: 18px;
  margin: 10px 0;
}
.active_users p{
  color: silver;
  font-size: 14px;
}
.active_users p > span{
  color: #48BB78;
  font-weight: bold;
}
.sales_overiew{
  background-color: white;
  border-radius: 15px;
  padding: 20px 10px;
  width: 54%;
  color: #2D3748;
}

.mini_infor{
  display: grid;
  margin-top:20px;
  grid-template-columns: repeat(4, calc(100% / 5));
  gap: 15px;
}
.mini_infor_boxer h1{
  font-size: 18px;
  margin: 5px 0;
}

.iconName{
  display: flex;
  align-items: center;
}
.mini_icon{
  font-size: 30px;
  padding: 5px;
  margin-right: 5px;
  background-color:  #4FD1C5;
  border-radius: 10px;
  color: white;
}
.iconName p{
  font-size: 12px;
}
.stat_spann{
  width: 50%;
  height: 3px;
  background-color: #E2E8F0;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

.stat_spann>span{
  position: absolute;
  display: inline-block;
  width: 70%;
  height: 3px;
  background-color: #4FD1C5;
}
.sales_overiew h1{
  font-size: 18px;
}

.sales_overiew p{
  color: #A0AEC0;
  font-size: 14px;
}
.sales_overiew p > span{
  color: #48BB78;
  font-weight: bold;
}

.dashboard_footer{
  display: flex;
  margin: 15px 0;
}
.project{
  width: 69%;
  background-color: white;
  margin-right: 2%;
  border-radius: 15px;
  padding: 10px;
}
.project_nav{
  display:flex;
  justify-content: space-between;
}
.project_nav h1{
  font-size: 18px;
  margin-bottom: 5px;
}
.project_nav li {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.project_nav li>span{
  width: 3px;
  height: 3px;
  background-color: #A0AEC0;
  border-radius: 50%;
  margin: 1px;
  transition: 0.1s;
}
.project_nav li:hover span{
  background-color: #2D3748;
}
.project>p{
  display: flex;
  align-items: center;
  color: #A0AEC0;
  font-size: 14px;
}
.project .check{
  color: #68D391;
  margin-right: 5px;
}
.order_over{
  width: 29%;
  border-radius: 15px;
  background-color: white;
}
table ul:first-child li{ 
  align-items: center;
  display: flex;
  font-size: 10px;
  color: #A0AEC0;
  font-weight: bold;
}
table{
  width: 100%;
  margin: 20px 0;
}
table ul:first-child{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E2E8F0;
}
table ul li {
  display: flex;
  align-items: center;
  font-size: 14px;
}

table ul li div{
  width: 20%;
}
table ul:nth-child(2)>li{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E2E8F0;
  align-items: center;
  padding: 15px 0;
}
table ul:first-child> li:first-child{
  width: 15%;
}
table ul:nth-child(2)>li p {
  color:#1dd8c5;
  font-weight: bold;
}
table ul:nth-child(2)>li div:first-child{
  width: 30%;
  display: flex;
  align-items: center;
}
table ul:nth-child(2)>li div:first-child>span{
  font-weight: bold;
}

.icon_logo{
  margin-right: 10px;
}
.table_rasm {
  margin-left: 40px;
}
.table_rasm img{
  margin-left: -10px;
}

.narx{
  font-weight: bold;
}

.stat_span{
  width: 50%;
  height: 3px;
  background-color: #A0AEC0;
  position: relative;
  border-radius: 5px;
}
.stat_span span{
  width: 60%;
  height: 3px;
  position: absolute;
  background-color: #1dd8c5;
}
.order_over{
  padding: 10px;
}
.order_over h1{
  color:  #2D3748;
  font-size: 18px;
}

.order_over>p{
  color: #718096;
  font-size: 14px;
  margin-bottom: 25px;
}
.order_over >p>span{
  color: #48BB78;
}

.boxer_child{
  font-size: 14px;
  display: flex;
}
.boxer_child p{
  font-weight: bold;
  margin-left: 15px;
}
.order_over .chiziq{
  width: 3px;
  height: 37px;
  background-color:#A0AEC0;
}
.chiziq_father{
  display: flex;
  margin:5px;
}
.chiziq_father p{
  color: #718096;
  font-size: 12px;
  font-weight: bold;
  margin-left: 20px;
}
.natifi{
  color: #4FD1C5;
}
.css{
  color: #E53E3E;
}
.karzina{
  color: #4299E1;
}
.card {
  color: #F6AD55;
}
.drop{
  color: #9F7AEA;
}
.xd{
  color: #470137;
}
.iconNaifi{
  font-size: 18px;
}

.h1{
  font-size: 18px;
  margin-bottom: 5px;
}
.table_child{
  background-color: white;
  border-radius: 15px;
  padding: 10px;
}
.thead>tr>td{
  color: #A0AEC0;
  font-size: 10px;
  padding: 10px 0;
  
}
.tbody {
  position: relative;
}
.chiziqq{
  width: 100%;
  position: absolute;
  height: 1px;
  background-color: #E2E8F0;
}
.tbody>tr>td>img{
  border-radius: 15px;
  object-fit: cover;
  margin-right: 15px;
}
.tbody>tr>td:first-child{
  display: flex;
}

.tbody>tr>td{
  font-size: 14px;
  padding: 10px 0;
}
.tbody>tr>td p{
  color: #718096;
}
.tbody>tr>td h2{
  font-size: 14px;
  color: #2D3748;  
}
.tugma{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.tugma span{
  border-radius: 50%;
  margin: 1px;
  width: 3px;
  height: 3px;
  background-color: #A0AEC0;
}
.tugma:hover span{
  background-color: rgba(0, 0, 0, 0.719);
}


.my_card{
  display: flex;
  margin: 20px 0;
}
.my_card_left{
  width: 65%;
}
.my_card_view{
  display: flex;
}
.my_card_img{
  background: linear-gradient(to right, #2b3469, #0E111E);
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-right: 2%;
}
  .nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav .shafov_doira span{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.541);
  border-radius: 50%;
}
.nav .shafov_doira span:first-child{
  margin-right: -15px;
}
.my_card_img p{
  font-size: 18px;
}
.my_card_img h1{
  font-size: 24px;
  margin-right: 100px;
  width: 100%;
  margin-top: 50px;
}
.my_card_img .sana{
  margin-top: 10px;
  font-size: 10px;
}

.salary{
  background-color: white;
  border-radius: 15px;
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  margin-right:2%;
  justify-content: center;
  text-align: center;
}
.card_logo{
  background-color: #4FD1C5;
  border-radius: 10px;
  padding: 10px;
  font-size: 40px;
  color:white;
  margin: 0 auto;
}
.salary>h2{
  font-size: 18px;
}
.salary p{
  font-size: 12px;
  color: #A0AEC0;
}

.border{
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, white, #E0E1E2, white);
  margin: 15px 0;
}
.addNew_card{
  background-color: white;
  border-radius:15px;
  padding: 15px;
  margin-right: 2%;
  margin-top: 2%;
}
.cards_numbers{
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  margin-top: 20px;
}
.cards_boxer{
  display: flex;
  border-radius: 15px;
  border: 1px solid #d6d6d6;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
}
.cards_boxer div{
  display: flex;
  align-items: center;
}
.cards_boxer span{
  width: 20px;
  height: 20px;
  background-color: #F79E1B;
  border-radius: 50%;
}
.cards_boxer span:first-child{
  background-color:#EB001B;
  margin-right: -10px;
}
.nav b{
  font-size: 14px;
}

.nav button{
  background: linear-gradient(to right, #313860, #151928);
  border-radius: 10px;
  font-size: 10px;
  border: none;
  outline: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
}
.nav button:hover{
  background: linear-gradient(to right, #4b5485, #2e3757);
}

.cards_boxer button{
  border: none;
  outline: none;
  background-color: #00837600;
  padding: 5px 8px;
}
.cards_boxer button:hover{
  background-color: #E5E5E5;
  border-radius: 50%;
}
.cards_boxer p {
  font-size: 14px;
  color: #A0AEC0;
  margin-left: 10px;
}
.visa{
  color: #4318FF;
  font-size: 20px;
}

.my_card_right{
  width: 35%;
  border-radius: 15px;
  background-color: white;
  padding: 15px;
}

#view{
  background: white;
  color: #4FD1C5;
  font-size: 10px;
  border: 1px solid #4FD1C5;
}
#view:hover{
  background: #4FD1C5;
  border: 1px solid white;
  color: white;
}
.my_card_right .nav{
  margin-bottom: 15px;
}
.my_card_right .nav h1{
  font-size: 14px;
  color: #2D3748;
}
.my_card_right .nav p{
  font-size: 12px;
  margin-bottom: 3px;
  color: #A0AEC0;
}

.my_card_right .nav span{
  font-size: 12px;
  display: inline-block;
}
.my_card_right .nav span:first-child{
  margin-right: 5px;
  color: #A0AEC0;
}

.billing_footer{
  display: flex;
}
.billing_infor{
  width: 58%;
  background-color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin-right: 1.5%;
}
.billing_infor h1{
  font-size: 18px;
  color: #2D3748;
}
.billing_boxer{
  background-color: #F8F9FA;
  border-radius: 15px;
  padding:10px 15px;
  margin: 15px 0;
  color: #718096;
}
.billing_boxer li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.billing_boxer li h2{
  font-size: 12px;
}
li .editor button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
}
li .editor button:first-child{
  color:#E53E3E;
}
li .editor button:first-child:hover{
  color: red;
}                 
li .editor button:hover{
  background-color:rgb(224, 224, 224);  
}
.billing_boxer p{
  font-size: 12px;
}
.transactions{
  border-radius: 15px;
  padding: 15px;
  width: 42%;
  background-color: white;
}
.transactions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transactions li h1{
  font-size: 18px;
  color: #2D3748;
}
.transactions li p{
  font-size: 14px;
  color: #A0AEC0;
}
.nav .daraja_infor{
  display: flex;
  align-items: center;
}
.daraja{
  color:#48BB78;
  border: 1px solid #48BB78;
  padding: 5px 8px;
  border-radius: 50%;
  margin-right: 10px;
}
.transactions>p{
  color: #A0AEC0;
  font-size: 10px;
  margin: 10px 0;
}

.transactions .nav{
  margin: 20px 0;
}
.nav .daraja_infor h2{
  font-size: 14px;
  color: #2D3748;
}
.nav .daraja_infor p{
  font-size: 12px;
  color: #A0AEC0;
}
.nav .foyda{
  color: #48BB78;
}

.signIn{
  padding:5px 10px;
  border-radius: 10px;
  cursor: pointer;
}
.signIn:hover{
  background-color: #d6d6d6;
}

.nav_icons{
  padding: 5px;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
}
.nav_icons:hover{
  background-color: #d6d6d6;
}

.head_header{
  background-image: url(./eats/img/profile/background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  color: white;
  border-radius: 15px; 
  height: 250px;
}
.head_header .signUp{
  color:white;
}
.head_header .signUp>.search{
  color: #2D3748;
}

.prfile_about{
  background: linear-gradient(to top, rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0.8));
  color: black;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  padding: 15px;
  margin-top: 130px;
  align-items: center;
}

.profile_img{
  position: relative;
}
.profile_img img{
  border-radius: 15px;
  margin-right: 20px;
}

.profile_img>.editor{
  position: absolute;
  background-color: white;
  border-radius: 8px;
  top: 60px;
  left: 60px;
  font-size: 25px;
  color: #4FD1C5;
  padding: 5px;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.about_left{
  display: flex;
  align-items: center;
}
.profile_name h2{
  color: #2D3748;
  font-size: 18px;
}
.profile_name p {
  color: #718096;
}
.profile_right button{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  margin-left: 10px;
  border: none;
  outline: none;
  font-weight: bold;
  padding: 10px 15px;
  
}
.profile_right button:first-child{
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.profile_build{
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3.1));
  gap: 1.5%;
}

.profile_sett{
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.profile_sett h1{
  font-size: 18px;
  color: #2D3748;
  margin-bottom: 15px;
}
.profile_sett>p{
  font-size: #A0AEC0;
  font-size: 10px;
  font-weight: 700;
}
.profile_sett ul li {
  display: flex;
  margin: 18px 0;
}
.profile_sett ul li p{
  font-size: 12px;
  color: #A0AEC0;
}
.profile_sett ul>p{
  font-size: #A0AEC0;
  font-size: 10px;
  font-weight: 700;
}
.profile_sett ul li button{
  background-color: #4FD1C5;
  border-radius: 10px;
  outline: none;
  border: none;
  width: 37px;
  height: 18.5px;
  position: relative;
  margin-right: 10px;
}
.profile_sett ul li button span{
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 2px;
  left: 2px;
  display:inline-block;
}

.profile_infor{
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.profile_infor h2{
  font-size: 18px;
  color: #2D3748;
  margin-bottom: 15px;
}
.profile_infor p{
  font-size: 12px;
  color: #A0AEC0;
}

.profile_infor ul li {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 18px 0;
}
.profile_infor ul li b{
  margin-right: 10px;
}
.li_icon{
  color: #4FD1C5;
  margin-right: 10px;
}

.profiles{
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}
.profiles h1{
  font-size: 18px;
  color: #2D3748;
  margin-bottom: 15px;
}
.profiles .nav{
  margin: 10px 0;
}
.profiles .nav .profile_person{
  display: flex;
  align-items: center;
}
.profiles .nav .profile_person img{
  border-radius: 15px;
  margin-right: 15px;
}
.profiles .nav .profile_person h2{
  font-size: 14px;
  color: #2D3748;
}
.profiles .nav .profile_person p{
  color: #718096;
  font-size: 12px;
}
.profiles .nav b{
  color: #4FD1C5;
  font-size: 10px;
  cursor: pointer;
}
.profiles .nav b:hover{
  color: #136b62;
}

.profile_project{
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin: 15px 0;
}

.profile_project>h1{
  color: #2D3748;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
}
.profile_project>p{
  color: #A0AEC0;
}
.profile_boxer{
  display: grid;
  grid-template-columns: repeat(4, calc(100% / 4.2));
  gap: 1.5%;
  margin: 20px 0;
}
.profile_boxer .profile_box p{
  color: #A0AEC0;
  padding-left: 5px;
  font-size: 10px;
}
.profile_boxer .profile_box h1{
  font-size: 18px;
  color: #2D3748;
  margin: 5px 0 10px;
  padding-left: 5px;
}
.profile_boxer .profile_box li {
  color: #A0AEC0;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}
.profile_boxer .profile_box .img img{
  width: 100%;
  border-radius: 15px;
}
.profile_boxer .profile_box .nav{
  padding: 5px;
}
.profile_boxer .profile_box .nav img{
  border-radius: 50%;
  margin-left: -15px;
  padding: 3px;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.1);

}
.profile_boxer .profile_box2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #718096;
  border-radius: 15px;
  border: 1px solid #71809691;
}
.profile_boxer .profile_box2:hover{
  border: 1px solid #718096;
  color: rgba(0, 0, 0, 0.822);
  cursor: pointer;
}

.sign nav{
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 13px 15px; 
  justify-content: space-between;
  background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.82) 0%, rgba(255, 255, 255, 0.8) 110.84%);
  border: 1.5px solid #FFFFFF;
  box-shadow: 0px 7px 23px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(21px);
  border-radius: 15px;
}
.sign nav div{
  display: flex;
}
.sign nav div p{
  margin:0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 15px;
}
.sign nav div p img{
  margin-right: 5px;
}
.sign nav div p:nth-child(4){
  background-color:  #E5E5E5;
}
.sign nav div p:hover {
  background-color:  #E5E5E5;
}
.sign nav div:nth-child(1) p{
  font-size: 14px;
  font-weight: 700;
}
.sign nav div:nth-child(2) p{
  font-size: 12px;
  font-weight: 700;
}
.sign nav a{
  background: linear-gradient(81.62deg, #313860 2.25%, #151928 79.87%);
  border-radius: 34.5px;
  padding: 8px 25px;
  color: white;
  font-size: 10px;
  font-weight: 700;
}

form{
  width: 30%;
  margin: 100px 80px;
  display: flex;
  flex-direction: column;
}
form h1{
  color: #4FD1C5;
  font-size: 32px;
}
form p{
  color: #A0AEC0;
  font-weight: bold;
}
form label{
  color: #2D3748;
  margin-top: 15px;
}
form h2{
  font-size: 14px;
  margin: 10px auto;
}
form h2 a{
  color: #1dd8c5;
}
form input{
  border-radius: 10px;
  border: 1px solid #E2E8F0;
  outline: none;
  padding: 8px;
}
form input:focus{
  background-color:#d6d6d6;
}
form input[type="button"]{
  background-color:#1dd8c5;
  cursor: pointer;
}

form .chek{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
}
form .chek label{
  margin: 0;
}
form .chek .chekked{
  position: relative;
  width: 30px;
  height: 18px;
  background-color: #1dd8c5;
  border-radius: 15px;
}
form .chek .chekked>span{
  position: absolute;
  top: 1px;
  right: 1px;
  display: inline-block;
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;

}